@charset "UTF-8";

footer > div {
    align-items: center;
}

footer.container1 {
    flex-direction: column;
    padding-left: 0px;
}

div.container2 {
    margin-left: 0px;   
}

footer > div {
    font: normal 0.5em Arial, Helvetica, sans-serif;

}

