@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #06309938;
}

header {
    background-image: url('../imagens/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2a1467;
    height: 200px;
    
}

span#burger {
    display: none;
}

menu> ul {
    display: flex;
    list-style: none;
    background-color: #2a1467;
    gap: 10px;
    padding: 10px;

}

menu a {
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

main {
    max-width: 1000px;
    min-width: 200px;
    height: 100vh;
    margin: auto;
    background-color: white;
}

footer.container1 {
    display: flex;
    background-color: #180746;
    padding-left: 200px;
}

div.container2 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: space-between; /*Alinhamento horizontal*/
    
}

div.redesSociais {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 30px;
    justify-content: space-between;
}


footer > div {
    display: flex;
    height: 100px;
    font: normal 0.8em Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

a > img {
    width: 30px;
}


