@charset "UTF-8";

:root {
    --color-white: #fff;
    --color-dark1: #2b161b;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

body {
    background-image: url("../imagens/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    color: var(--color-white);
}

.logo_header {
    display: flex;
    justify-content: center;
}

.logo_header img {
    width: 100px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: #2b161b;
    justify-content: space-between;
    padding: 10px 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    font-family: "roboto-regular";
    text-decoration: none;
    color: var(--color-white);
    transition: 0.5s;
}

.navigation_header a:hover {
    color: lightgray;
}

.active {
    background-color: #ef4d48;
    padding: 10px;
    border-radius: 10px;
}

.active:hover {
    background-color: var(--color-white);
    color: black !important;

}


.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.content_pai {
    display: flex;
    justify-content: center;
    height: 100vh;
    transition: 1s;
}

.content_elements {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 125px;
    width: 90%;
    height: 200px;
    text-shadow: 1px 1px 1px var(--color-dark3);
    font-family: "roboto-bold";
    
}

.content_elements h1 {
    font-size: 47px;
}

.content_elements p {
    font-family: "roboto-regular";
    font-size: 18px;
}


.footer_pai {
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    background-color: var(--color-dark1);
    box-shadow: 1px 1px 4px var(--color-dark4);
}

.footer_info {
    padding: 20px 0;
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.footer_social {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.footer_social img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark1);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .content_elements {
        align-items: center;
    }

    .content_elements h1 {
        font-size: 35px;
    }

    .content_elements h2 {
        font-size: 20px;
    }

    .content_elements p {
        text-align: center;
    }

    .footer_info {
        font-size: 0.9em;
    }

    .footer_social {
        width: 30%
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
